<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>
<body>

<div class="container col-6"><h1>Edit User</h1>
    <form th:object="${users}" th:action="@{save}" method="post">
        <input type="hidden" th:field="*{id}">
        <div>
            <label th:text="Name" th:for="name"></label>
            <input type="text" class="form-control" th:field="*{name}" placeholder="Name">
        </div>
        <div style="clear:both; display: block;height: 10px"></div>
        <div>
            <label th:text="Age" th:for="age"></label>
            <input type="text" class="form-control" th:field="*{age}" placeholder="Age">
        </div>
        <div style="clear:both; display: block;height: 10px"></div>
        <div>
            <label th:text="Salary" th:for="salary"></label>
            <input type="text" class="form-control" th:field="*{salary}" placeholder="Salary">
        </div>
        <div style="clear:both; display: block;height: 10px"></div>
        <input type="submit" value="Save" class="btn btn-success">
    </form>
</div>

</body>
</html>