<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    <div class="">

    </div>
    <div class="container col-6">
        <h1>
           USER CRUD ACTIONS
        </h1>
        <table class="table table-active">
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Salary</th>
                <th>CRUD</th>
            </tr>
            <tr th:each="user: ${users}">
                <td th:text="${user.name}"></td></br>
                <td th:text="${user.age}"></td></br>
                <td th:text="${user.salary}"></td></br>
                <td>
                    <a th:href="@{/edit?id={id}(id=${user.id})}" class="btn btn-primary">Edit</a>
                    <a th:href="@{/delete?id={id}(id=${user.id})}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        </table>
        <a href="/add" class="btn btn-success">Create new user</a>
    </div>
</body>
</html>